<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div>
   <h2>Customize Your Order</h2>
    <table>
      <tr>
        <th>Option</th>
        <th>Rating</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>option</td>
        <td>rating</td>
        <td>details</td>
      </tr>
    </table>
  </div>
  <div>
   <h2>Select a Side</h2>
    <table>
      <tr>
        <th>Option</th>
        <th>Additional Cost</th> 
        <th>Rating</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>option</td>
        <td>additional cost</td> 
        <td>rating</td>
        <td>details</td>
      </tr>
    </table>
  </div>

  <div>
    <h2>Special Requestions (optional)</h2>
    <input type="text"><br>
  <div>
    <button type="button">Submit</button>
  </div>
</body>
</html>