<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>Foody Call</title>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.2.1/moment-timezone.min.js"></script>
  <script src="/static/fuzzy-min.js"></script>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <!--[if lte IE 8]><link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css"><![endif]-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <!--[if lte IE 8]><link rel="stylesheet" href="/combo/1.17.4?/css/layouts/marketing-old-ie.css"><![endif]-->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script><![endif]-->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="header">
    <div id="first-header" class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="#">Foody Call</a>
    </div>

    <div id="rate-header" class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading">
        <i class="fa fa-search"></i>
        <input type="search" class="" placeholder="Search item to rate">
      </a>
    </div>
    <div id="second-header" class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <div class="pure-g">
        <div class="vegan pure-u-1-3 pure-button foody-checkbox">
          <i class="fa fa-square-o"></i>
          Vegan
        </div>
        <div class="gluten-free pure-u-1-3 pure-button foody-checkbox">
          <i class="fa fa-square-o"></i>
          Gluten Free
        </div>
        <div class="pure-u-1-3 pure-button foody-switcher">
          <i class="fa fa-arrows-v"></i>
          <span>Best Rated</span>
        </div>
        <div class="pure-u-1-1" style="color: white; margin-top:5px;">
          <i class="fa fa-search"></i>
          <input type="search" class="" placeholder="Search item">
        </div>
      </div>
    </div>

    <div id="third-header" class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="#">Sides</a>
    </div>

    <div id="fourth-header" class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="#">Special Requests</a>
    </div>
  </div>


  <div class="splash-container first-container">
    <div class="splash">
      <input class="splash-input" placeholder="Your cell #">
      <script>
        $(document).ready(function() {
          $('.splash-input').mask('(000) 000-0000');
        });
      </script>
      <p class="splash-subhead">Enter your cell #, <br>choose your meal, <br>and pick up your order!</p>
      <p><a href="#mainOrder" class="pure-button pure-button-primary">Make a Foody Call!</a>
      <p><a href="#repeatLastOrder" class="pure-button pure-button-primary">Repeat Last Order</a>
      <p><a href="#rate" class="pure-button pure-button-primary">Add an Item Rating</a>
      </p>

      <div class="footer l-box is-center">
        Built by <a href="http://github.com/joom">@joom</a>,
        <a href="http://github.com/barca">@barca</a>,
        <a href="http://github.com/trifunovski">@trifunovski</a>,
        <a href="http://github.com/acronan">@acronan</a>,
        <a href="http://github.com/kault">@kault</a>,
        <a href="http://github.com/miagegedeng">@miagegedeng</a> for
        <a href="http://weshack.com">WesHack 2014</a>.
      </div>
    </div>
  </div>

  <div class="splash-container second-container">
    <div class="item-list">
    </div>
    <script type="text/template" id="items-template">
      <div class="pure-g no-option" data-price="0.00">
          <div class="pure-u-2-3">
            <h3>Just sides</h3>
          </div>
          <div class="pure-u-1-3" style="font-size:20px">
            <div style="margin-bottom:10px"><span class="pure-button price-tag"> $0.00</span><br> </div>
          </div>
      </div>
      <% items.forEach(function(item) { %>
        <div class="pure-g option" data-id="<%=item._id %>" data-price="<%=item.price %>">
            <div class="pure-u-2-3">
              <h3><%=item.item %></h3>
              <%=item.description %>
            </div>
            <div class="pure-u-1-3" style="font-size:20px">
              <div style="margin-bottom:10px"><span class="pure-button price-tag"> $<%=item.price %></span><br> </div>
              <span class="rating">
                <%=Array(Math.floor(item.rating_avg)).join('<i class="fa fa-star"></i>') %><%=((item.rating_avg % 1) >= 0.5) ? '<i class="fa fa-star-half-o"></i>': "" %>
              </span>
            </div>
        </div>
      <% }) %>
    </script>
  </div>
  <div class="splash-container third-container">
      <div class="item-list">
      </div>
      <script type="text/template" id="items-template">
        <div class="pure-g no-option" data-price="0">
            <div class="pure-u-2-3">
              <h3>No sides</h3>
            </div>
            <div class="pure-u-1-3" style="font-size:20px">
              <div style="margin-bottom:10px"><span class="pure-button price-tag"> $0.00</span><br> </div>
            </div>
        </div>
        <% items.forEach(function(item) { %>
          <div class="pure-g option" data-id="<%=item._id %>" data-price="<%=item.price %>">
              <div class="pure-u-2-3">
                <h3><%=item.item %></h3>
                <%=item.description %>
              </div>
              <div class="pure-u-1-3" style="font-size:20px">
                <div style="margin-bottom:10px"><span class="pure-button price-tag">
                  $<%=item.price %><br>
                  </span><br> </div>
                <span class="rating">
                  <%=Array(Math.floor(item.rating_avg)).join('<i class="fa fa-star"></i>') %><%=((item.rating_avg % 1) >= 0.5) ? '<i class="fa fa-star-half-o"></i>': "" %>
                </span>
              </div>
          </div>
        <% }) %>
      </script>
    </div>

    <div class="splash-container fourth-container">
      <div class="item-list">
      </div>
      <script type="text/template" id="items-template">
          <div class="pure-g">
              <div class="pure-u-2-3">
                <h3><%=mainOrder %></h3>
                Your main order
              </div>
              <div class="pure-u-1-3" style="font-size:20px">
                <div style="margin-bottom:10px"><span class="pure-button price-tag"> $<%=mainPrice %></span><br> </div>
              </div>
          </div>

          <div class="pure-g">
              <div class="pure-u-2-3">
                <h3><%=sideOrder %></h3>
                Your side order
              </div>
              <div class="pure-u-1-3" style="font-size:20px">
                <div style="margin-bottom:10px"><span class="pure-button price-tag"> $<%=sidePrice %></span><br> </div>
              </div>
          </div>
      <% if (timeCheck() === "Summies Lunch") { %>
      <!-- Summies Lunch -->
          <div class="pure-g no-option">
            <div class="pure-u-2-3">
              <h3>Price with Points </h3>
            </div>
            <div class="pure-u-1-3" style="font-size:20px">
              <div style="margin-bottom:10px">
              <span class="pure-button price-tag"> $<%=(mainPrice + sidePrice + 0.60).toFixed(2) %></span><br>
              </div>
            </div>
            <div class="pure-u-2-3">
              <h3>Price with Meal Swipe</h3>
            </div>
            <div class="pure-u-1-3" style="font-size:20px">
              <div style="margin-bottom:10px">
                <span class="pure-button price-tag">
                <% if ((mainPrice + sidePrice) !== 0) { %> 1 swp <br>+ <% } %>
                $<%=(sidePrice+ 0.60).toFixed(2) %> pts</span><br>
              </div>
            </div>
          </div>
        <% } else if (timeCheck() === "Summies Dinner") { %>
        <!-- Summies Dinner -->
          <div class="pure-g no-option">
            <div class="pure-u-2-3">
              <h3>Price with Points</h3>
            </div>
            <div class="pure-u-1-3" style="font-size:20px">
              <div style="margin-bottom:10px">
              <span class="pure-button price-tag"> $<%=(mainPrice + sidePrice + 0.60).toFixed(2) %></span><br>
              </div>
            </div>
            <div class="pure-u-2-3">
              <h3>Price with Meal Swipe</h3>
            </div>
            <div class="pure-u-1-3" style="font-size:20px">
              <div style="margin-bottom:10px">
                <span class="pure-button price-tag">
                <% if ((mainPrice + sidePrice) !== 0) { %> 1 swp <br>+ <% } %>
                  <% if ((sidePrice - 2.99) > 0) { %>
                  $<%= (sidePrice - 2.99 + 0.60).toFixed(2) %>
                  <% } else { %> $<%= (0.60).toFixed(2) %> <% } %>
                </span><br>
              </div>
            </div>
          </div>
        <% } else { %>
            <div class="pure-g no-option">
              <div class="pure-u-2-3">
                <h3>Total</h3> A charge of $0.60 is added to take-away orders
              </div>
              <div class="pure-u-1-3" style="font-size:20px">
                <div style="margin-bottom:10px">
                  <span class="pure-button price-tag"> $<%=(mainPrice + sidePrice + 0.60).toFixed(2) %></span><br>
                </div>
              </div>
            </div>
        <% } %>
          <% if((mainPrice + sidePrice) !== 0) { %>
            <div class="pure-g">
                <div class="pure-u-1-1" style="font-size:20px">
                    <form class="pure-form"><textarea placeholder="Enter your special requests"></textarea></form>
                  <% if(timeCheck() !== 'No') { %>
                    <div style="margin-top:10px"><a class="pure-button" href="#sending">Send Order!</a></div>
                  <% } else { %>
                    <div style="margin-top:10px"><a class="pure-button pure-button-disabled">Summies and Late Night <br>are both closed</a></div>
                  <% } %>
                </div>
            </div>
          <% } else { %>
            <div class="pure-g" style="font-size: 1.3em; text-align: center; background: #9b59b6; color: white; line-height: 1.3em;">
              <div class="pure-u-1-1">
                Would you like some water? That's free too!
              </div>
            </div>
          <% } %>
      </script>
    </div>

    <div class="splash-container fifth-container">
      <div class="item-list">
          <div class="pure-g">
            <div class="pure-u-1-1">
              <i class="sending fa fa-send"></i>
              <i class="fa fa-check sent"></i>
              <h3 class="sent" style="font-size: 0.3em;">Check your cell phone for your order number!</h3>
              <p style="display:none;font-size:0.5em;"><a href="/" class="pure-button">Back</a>
            </div>
          </div>
      </div>
    </div>

    <div class="splash-container rate-container">
      <div class="item-list">
      </div>
        <script type="text/template" id="items-template">
        <% items.forEach(function(item) { %>
          <div class="pure-g option" data-id="<%=item._id %>" data-price="<%=item.price %>">
              <div class="pure-u-2-3">
                <h3><%=item.item %></h3>
                ($<%=item.price %>) <%=item.description %>
              </div>
              <div class="pure-u-1-3" style="font-size:20px">
                <span class="rating">
                <%=item.rating_avg.toFixed(2) %>
                <div><select data-id="<%=item._id %>" class="pure-button point">
                    <option value="" disabled selected>Your vote</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select></div>
                </span>
              </div>
          </div>
        <% }) %>
        </script>
    </div>


  <script src="/static/app.js"></script>
</body>

</html>
