<!DOCTYPE html>
<html lang="en">
  <head>
    <div class="row">
      <img src="pictures/logo.jpg" style="width:auto; height:150px;" />
    </div>
    <div class="row">
      <h1>Make a FoodyCall </h1>
    </div>
  </head>

  <body>
    <div>
      <input type="tel" placeholder="Enter a texting capable phone number">
      <button class="btn btn-danger" type="button">Make a FoodyCall!</button>
    </div> 
    <div>
      <button type="button" class="btn btn-danger">Rate Your Food</button>
    </div>
  </body>
  
</html>