<!DOCTYPE html>
<html lang="en">
<head>
    <h1>FoodyCall</h1>
</head>
<body>
<div>
    <h2>Filters</h2>
    <form action="">
        <input type="checkbox" value="filter1">Filter 1<br>
        <input type="checkbox" value="filter1">Filter 2<br>
    </form>
    <h2>Sort By</h2>
    <select>
      <option>Sort1</option>
      <option>Sort2</option>
    </select>
</div>
<div>
    <h2>Menu</h2>
    <table>
      <tr>
        <th>Item</th>
        <th>Price</th> 
        <th>Rating</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>item</td>
        <td>price</td> 
        <td>rating</td>
        <td>details</td>
      </tr>
    </table>
<button type="button">Submit</button>
</div>
</body>
</html>